@page
@model ConfirmEmailModel


<div class="container w-50" style="padding-top:40px;">
    <section class="page-section" id="about">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Email Confirmed</h2>
            <h4>You can now sign in to your account.</h4><br>
            <a class="btn btn-primary btn-lg btn-block" asp-page="./Login">Log in</a>
        </div>
</section>
</div>
