@page
@model ForgotPasswordConfirmation

<div class="container w-50" style="padding-top:20px;">
    <section class="page-section" id="about">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Forgot password confirmation</h2>
            <h4>Please check your email to reset your password.</h4>
        </div>
    </section>
</div>