@page
@model ForgotPasswordModel



<div class="container w-50" style="padding-top:20px;">
        <section class="page-section" id="about">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Forgot your password?</h2>
                <h4 id="external-login-title">Enter your email to reset password</h4>
            </div>
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="Input.Email" class="form-control" placeholder="Email address"/>
                            <small><span asp-validation-for="Input.Email" class="text-danger"></span></small>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </form>
        </section>
</div>

            @section Scripts {
                <partial name="_ValidationScriptsPartial" />
            }
