@page
@model ResetPasswordModel



<div class="container w-50" style="padding-top:20px;">
    <section class="page-section" id="about">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Reset Password</h2>
            <h3 class="section-subheading text-muted mb-3">You may reset your password here</h3>
        </div>

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />


            <!-- Email input -->
            <div class="form-outline mb-4">
                <input asp-for="Input.Email" type="email" class="form-control" placeholder="Email address" />
                <small><span asp-validation-for="Input.Email" class="text-danger"></span></small>
            </div>


            <!-- Password input -->
            <div class="form-outline mb-4">
                <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password" />
                <small><span asp-validation-for="Input.Password" class="text-danger "></span></small>
            </div>

            <!-- Password Confirmation input -->
            <div class="form-outline mb-4">
                <input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" />
                <small><span asp-validation-for="Input.ConfirmPassword" class="text-danger "></span></small>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Reset</button>
        </form>
    </section>
</div>

        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
