@page
@model ResetPasswordConfirmationModel

<div class="container w-50" style="padding-top:20px;">
    <section class="page-section" id="about">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Reset password confirmation</h2>
            <h4> Your password has been reset. You may now log in to your account.</h4>
        </div>
        <a class="btn btn-primary btn-lg btn-block" asp-page="./Login">Log in</a>
    </section>>
</div>