@{
    ViewData["Title"] = "Home Page";
}

<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Bargain shoppers meet here!</div>
        <div class="masthead-heading text-uppercase">Find the best local deals</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
    </div>
</header>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">KCBargains Platform</h2>
            <h3 class="section-subheading text-muted">In the face of increasing e-commerce activity, shopping at local brick and mortar stores provides a crucial way of supporting our communities.</h3>
  
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-people-arrows fa-stack-1x fa-inverse"></i>

                </span>
                <h4 class="my-3">Crowdsourcing</h4>
                <p class="text-muted">As shoppers visit stores they pick up the best local deals. Later on, they share the details of those deals on KCBargains platform.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Power of Sharing</h4>
                <p class="text-muted">Kansas City area residents visit the KCBargains website to view the best local deals before buying a product.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Savings</h4>
                <p class="text-muted">Bargain shoppers go to the local stores with the best deals, and by doing so save ton of money and time.</p>
            </div>
        </div>
    </div>
</section>

